<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myBlog.project.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="org.myBlog.project.entity.Blog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="blog_id" jdbcType="VARCHAR" property="blogId"/>
        <result column="blog_type" jdbcType="VARCHAR" property="blogType"/>
        <result column="blog_tag_list" jdbcType="VARCHAR" property="blogTagList"/>
        <result column="blog_title" jdbcType="VARCHAR" property="blogTitle"/>
        <result column="blog_overview" jdbcType="VARCHAR" property="blogOverview"/>
        <result column="blog_content" jdbcType="VARCHAR" property="blogContent"/>
        <result column="blog_status" jdbcType="INTEGER" property="blogStatus"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, blog_id, blog_type, blog_tag_list, blog_title, blog_overview, blog_content, blog_status,
    create_time, update_time
  </sql>

    <select id="queryBlogList" resultMap="BaseResultMap">
        select
        blog_id, blog_type, blog_tag_list, blog_title,
        blog_overview, create_time
        from
        blog
        where
        blog_status = 1
        order by create_time desc
    </select>

    <select id="queryBlogByBlogId" resultMap="BaseResultMap">
        select blog_id, blog_type, blog_tag_list,
        blog_title, blog_overview, blog_content, create_time
        from
        blog
        where
        blog_id = #{blogId}
    </select>

    <select id="querySpecialBlog" resultMap="BaseResultMap">
        select blog_id, blog_type, blog_tag_list,
        blog_title, blog_overview, blog_content, create_time
        from
        blog
        where
        blog_status = 2
    </select>

    <insert id="addBlog" parameterType="org.myBlog.project.entity.Blog">
        insert into
        blog
        (blog_id, blog_type, blog_tag_list, blog_title, blog_overview,
        blog_content, blog_status, create_time)
        values
        (#{blogId}, #{blogType}, #{blogTagList}, #{blogTitle},
        #{blogOverview}, #{blogContent}, #{blogStatus}, #{createTime})

    </insert>

    <update id="updateStatus">
        update blog set
        blog_status = #{status}
        where
        blog_id = #{blogId}
    </update>

    <update id="updateBlog" parameterType="org.myBlog.project.entity.Blog">
        update blog set
        blog_title = #{blogTitle}, blog_type = #{blogType}, blog_tag_list = #{blogTagList},
        blog_overview = #{blogOverview}, blog_content = #{blogContent}
        where
        blog_id = #{blogId}
    </update>

</mapper>