<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myBlog.project.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="org.myBlog.project.entity.Blog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="blog_no" jdbcType="VARCHAR" property="blogNo"/>
        <result column="blog_cover_url" jdbcType="VARCHAR" property="blogCoverUrl"/>
        <result column="blog_type" jdbcType="VARCHAR" property="blogType"/>
        <result column="blog_tag_list" jdbcType="VARCHAR" property="blogTagList"/>
        <result column="blog_title" jdbcType="VARCHAR" property="blogTitle"/>
        <result column="blog_overview" jdbcType="VARCHAR" property="blogOverview"/>
        <result column="blog_raw_content" jdbcType="VARCHAR" property="blogRawContent"/>
        <result column="blog_status" jdbcType="INTEGER" property="blogStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="BlogInfoMap" type="org.myBlog.project.vo.bolg.response.BlogInfoResponse">
        <result column="blog_no" jdbcType="VARCHAR" property="blogNo"/>
        <result column="blog_cover_url" jdbcType="VARCHAR" property="blogCoverUrl"/>
        <result column="blog_type" jdbcType="VARCHAR" property="blogType"/>
        <result column="blog_tag_list" jdbcType="VARCHAR" property="blogTagList"/>
        <result column="blog_title" jdbcType="VARCHAR" property="blogTitle"/>
        <result column="blog_overview" jdbcType="VARCHAR" property="blogOverview"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, blog_no,blog_cover_url, blog_type, blog_tag_list, blog_title, blog_raw_content, blog_overview, blog_status,
    create_time, update_time
    </sql>

    <select id="queryBlogList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from blog
        where blog_status = 1
        order by create_time desc
    </select>

    <select id="queryBlogInfoList" resultMap="BlogInfoMap">
        select blog_no,
               blog_cover_url,
               blog_type,
               blog_tag_list,
               blog_title,
               blog_overview,
               create_time
        from blog
        where blog_status = 1
        order by create_time desc
    </select>

    <select id="queryBlogByBlogNo" resultMap="BaseResultMap">
        select blog_no,
               blog_cover_url,
               blog_type,
               blog_tag_list,
               blog_title,
               blog_overview,
               blog_raw_content,
               create_time
        from blog
        where blog_no = #{blogNo}
    </select>

    <select id="querySpecialBlog" resultMap="BaseResultMap">
        select blog_no,
               blog_cover_url,
               blog_type,
               blog_tag_list,
               blog_title,
               blog_raw_content,
               blog_overview,
               create_time
        from blog
        where blog_status = 2
    </select>

    <insert id="addBlog" parameterType="org.myBlog.project.entity.Blog">
        insert into blog
        (blog_no, blog_cover_url, blog_type, blog_tag_list, blog_title, blog_raw_content, blog_overview, blog_status,
         create_time)
        values (#{blogNo}, #{blogCoverUrl}, #{blogType},
                #{blogTagList}, #{blogTitle}, #{blogRawContent},
                #{blogOverview}, #{blogStatus}, #{createTime})

    </insert>

    <update id="updateStatus">
        update blog
        set blog_status = #{status}
        where blog_no = #{blogNo}
    </update>

    <update id="updateBlog" parameterType="org.myBlog.project.entity.Blog">
        update blog
        set blog_title       = #{blogTitle},
            blog_cover_url   = #{blogCoverUrl},
            blog_type        = #{blogType},
            blog_tag_list    = #{blogTagList},
            blog_overview    = #{blogOverview},
            blog_raw_content = #{blogRawContent}
        where blog_no = #{blogNo}
    </update>

    <select id="queryList" resultMap="BlogInfoMap">
        select blog_no,
               blog_cover_url,
               blog_type,
               blog_tag_list,
               blog_title,
               blog_overview,
               create_time
        from blog
        <where>
            blog_status = 1
            <if test="queryKey != null">
                and blog_title like concat('%',#{queryKey},'%')
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>