<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myBlog.project.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="org.myBlog.project.entity.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="user_no" jdbcType="VARCHAR" property="userNo"/>
        <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_motor" jdbcType="VARCHAR" property="userMotor"/>
        <result column="user_related_links" jdbcType="VARCHAR" property="userRelatedLinks"/>
        <result column="user_skillInfo_list" jdbcType="VARCHAR" property="userSkillInfoList"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_no, user_avatar, user_name, user_motor, user_related_links, user_skillInfo_list,
        create_time
    </sql>
    <select id="queryUserInfoByUserNo" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from user_info
        where user_no = #{userNo}
    </select>
</mapper>